.sectionONE{

    height: 90vh;
    position: relative;
    width: 80%;
    display: flex;
    justify-items: center;
    /*height: 2000px;*/
}
.header {
    z-index: 995;
    position: relative;
    top: 0;
    height: 50%;
    width: 100%;

    align-content: center;
    background-color: rgba(255, 132, 0, 0.62);
    backdrop-filter: blur(5px);
}
.main-image{
    z-index: 1000;
    position: absolute;
    top: 0;
    width: 100%;
}
.bck-image{
    z-index: 990;
    position: absolute;
    top: 0;
    width: 100%;
}
.innerHeader{
    /*backdrop-filter: blur(10px);*/
    /*background-color: rgba(0, 0, 0, 0.79);*/
    border-radius: 10px;
    height: 100%;
    width: 97%;
    /*max-width: 1000px;*/
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.logotext{

}
.logoContainer{
    width: 60px;
}
.header h1{
    font-size: 25px;
    line-height: 25px;
    margin: 0;
    font-family: "Hubot Sans";
    font-weight: 500;
}