.border {
    margin: 2vh;
    height: 96vh;
    border: 1.4px solid black;
}

.contproj {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}